# Python junk
__pycache__/
*.py[cod]
.venv/

# PyInstaller junk
build/
dist/
*.spec

# Credentials (NEVER PUSH THESE)
wifi_map.json
*.bak
wifi_map.json.bak

# macOS junk
.DS_Store

# IDE settings
.vscode/
.idea/